nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#222;
    padding:20px 40px;
}

.logo{
    color:white;
    font-size:25px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

nav ul li a:hover{
    color:#0d6efd;
}
.hero{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:100px 20px;
}
.about{
    background:white;
    text-align:center;
    padding:60px 20px;
}

.about h2{
    font-size:35px;
    color:#0d6efd;
}

.about p{
    max-width:700px;
    margin:20px auto;
    font-size:18px;
    line-height:1.6;
}
.services{
    background:#f5f5f5;
    text-align:center;
    padding:60px 20px;
}

.services h2{
    font-size:35px;
    color:#0d6efd;
}


.service-box{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;
}


.card{
    background:white;
    width:250px;
    padding:30px;
    border-radius:10px;
}


.card h3{
    color:#0d6efd;
}


.card:hover{
    transform:translateY(-10px);
}

.skills{
    background:white;
    padding:60px 20px;
}


.skills h2{
    text-align:center;
    color:#0d6efd;
    font-size:35px;
}


.skill{
    max-width:700px;
    margin:25px auto;
}


.bar{
    background:#ddd;
    height:25px;
    border-radius:20px;
}


.html,
.css,
.js{
    background:#0d6efd;
    color:white;
    height:100%;
    text-align:right;
    padding-right:10px;
    border-radius:20px;
}


.html{
    width:90%;
}


.css{
    width:80%;
}


.js{
    width:60%;
}

.projects{
    background:#f5f5f5;
    text-align:center;
    padding:60px 20px;
}


.projects h2{
    color:#0d6efd;
    font-size:35px;
}


.project-box{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;
}


.project-card{
    background:white;
    width:250px;
    padding:30px;
    border-radius:10px;
}


.project-card h3{
    color:#0d6efd;
}


.project-card:hover{
    transform:scale(1.05);
}

.contact{
    background:white;
    text-align:center;
    padding:60px 20px;
}


.contact h2{
    color:#0d6efd;
    font-size:35px;
}


.contact form{
    max-width:500px;
    margin:auto;
}


.contact input,
.contact textarea{

    width:100%;
    padding:15px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;

}


.contact textarea{
    height:150px;
}


.contact button{

    background:#0d6efd;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:5px;
    cursor:pointer;

}

footer{

    background:#222;
    color:white;
    text-align:center;
    padding:20px;

}

@media (max-width:768px){

    nav{
        flex-direction:column;
    }


    nav ul{
        flex-direction:column;
        margin-top:20px;
        text-align:center;
    }


    .hero h1{
        font-size:35px;
    }


    .service-box,
    .project-box{
        flex-direction:column;
        align-items:center;
    }


    .card,
    .project-card{
        width:90%;
    }

    .menu-btn{
        display:block;
    }

    nav ul{
        display:none;
    }


}




.menu-btn{
    display:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

function toggleMenu(){

    let menu = document.getElementById("menu");

    if(menu.style.display === "block"){

        menu.style.display = "none";

    }else{

        menu.style.display = "block";

    }

}




